html, body{
    width: 100%;
    /*height: 100%;*/
}

.bx-wrapper, .bx-viewport, .slider{
    width: 100%; 
    height: 100%;
} 

.background-01{
    background: url("../images/ocean.jpg") no-repeat;
    /*no-repeat : 이미지 반복 안함(이미지 1개만 보이게)*/
    width: 100%;
    height: 100vh; /*vh : 100%보다 실무에서 반응형에 안전*/
    /*viewport height (브라우저 화면 기준)*/

    background-position: center center; /*반응형*/
    /*첫 번째 center → 가로(horizontal) 위치
      두 번째 center → 세로(vertical) 위치
        이미지를 컨테이너의 중앙에 맞춘다는 뜻
        background-size: cover;와 같이 쓰면 중앙 기준으로 잘림 없이 꽉 차게 보임
    */
    background-size: cover; /*반응형*/
    /* 이미지가 컨테이너 크기에 맞게 확대/축소 */
}

.background-02{
    background: url("../images/mountain.jpg") no-repeat;
    width: 100%;
    height: 100vh; 
    background-position: center center;
    background-size: cover; 
}

.background-03{
    background: url("../images/night-sky.jpg") no-repeat;
    width: 100%;
    height: 100vh; 
    background-position: center center; 
    background-size: cover; 
}

.contents{
    /*contents의 txt를 배경 이미지 위쪽에 올리기*/
    position: absolute;
    top: 20%; /*위치 조정*/
    left: 22%; /*위치 조정*/
    color: white;
    font-weight: bold;
    z-index: 20; /*dot보다 위에*/
    /*text-align: center; 중앙정렬*/
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.contents_name{
    font-size: 15vh;
    background-position: center center; 
    background-size: cover; 
    margin-left: 16%;
    margin-bottom: 25px;
}

.contents_job{
    font-size: 10vh;
    background-position: center center; 
    background-size: cover;
    margin-bottom: 50px; 
}

.contents_list{
    font-size: 0; /*코드상에 있는 공백 제거*/
    margin-left: 34%;
}

.contents_list > li{ /*contents_list 밑에 있는 li태그*/
    display: inline; /*inline 변경해서 나란히 배치되게 함*/
    width: 100px;
    height: 100px;
    font-size: 50px;
    line-height: 50px; /*수직 중앙(부모영역 높이와 같게 설정*/
    margin-right: 50px;
    background-position: center center; 
    background-size: cover;
}

.contents_list > li > a{
    color: white; 
    text-decoration: none; /* 밑줄 제거 */
    font-size: 0; /* inline 요소 사이 공백 제거 */
}

.contents_list > li:last-child{
    /*last-child : 마지막 li태그에 속성주기*/
    margin-right: 0px;
}

.contents_list > li > a > i{
    font-size: 50px;
}

