html, body{
    width: 100%;
    height: 100%;
}

.bx-wrapper, .bx-viewport, .slider{
    width: 100%;
    height: 100%;
} 

.background-01{
    background: url("../images/forest.jpg") no-repeat;
    /*no-repeat : 이미지 반복 안함(이미지 1개만 보이게)*/
    width: 100%;
    height: 100vh; /*vh : 100%보다 실무에서 반응형에 안전*/
    /*viewport height (브라우저 화면 기준)*/

    background-position: center center; /*반응형*/
    /*첫 번째 center → 가로(horizontal) 위치
      두 번째 center → 세로(vertical) 위치
        이미지를 컨테이너의 중앙에 맞춘다는 뜻
        background-size: cover;와 같이 쓰면 중앙 기준으로 잘림 없이 꽉 차게 보임
    */
    background-size: cover; /*반응형*/
    /* 이미지가 컨테이너 크기에 맞게 확대/축소 */
}

.background-02{
    background: url("../images/winter.jpg") no-repeat;
    width: 100%;
    height: 100vh; 
    background-position: center center;
    background-size: cover; 
}

.background-03{
    background: url("../images/night-sky.jpg") no-repeat;
    width: 100%;
    height: 100vh; 
    background-position: center center; 
    background-size: cover; 
}

.overlay-dot{ /*배경이미지 위에 도트이미지 추가*/
    background: url(../images/dot.png) repeat;
    opacity: 0.3; /* 플리커링 해결 투명도 30%로 만듬 */
    /*no-repeat속성 일부러 안씀*/
    background-size: auto;/* dot 크기 조정 가능 */
    pointer-events: none; /* 다른 요소 클릭 막히는 것 방지 */
    position: absolute; /*좌표의 절대값에 영향을 받게끔 설정*/
    /*absolute로 지정하면 공중에 뜬 상태가 됨
    그래서 다음에 오는 태그가 덮어버림*/
    top: 0;/*좌표 가장 윗쪽에 붙게 함*/
    z-index: 10;/*position:absolute; 공중에 떠있는거 해결*/
    /*
    CSS에서 요소의 쌓임 순서(stack order) 를 결정하는 속성
    숫자가 높을수록 위에 올라감, 낮을수록 밑에 깔림.
    모든 태그들은 z-index속성이 기본 0이라고 보면 된다
    */
    width: 100%;
    height: 100vh;
}

.overlay-dark {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.2); /* 반투명 검은 레이어 */
  pointer-events: none; /*아래요소 클릭방해안함*/
  z-index: 9; /* dot보다 아래 */
}